[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
numpy = "*"
wandb = "==0.12.21"
pprintpp = "*"
bokeh = "==2.4.3"
bela-data-syncer = {editable = true, git = "https://github.com/pelinski/bela-data-syncer"}

[dev-packages]
jupyter-bokeh = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
