[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
numpy = "*"
wandb = "*"
bokeh = "*"
bela-data-syncer = {git = "https://github.com/pelinski/bela-data-syncer.git"}

[dev-packages]
jupyter-bokeh = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
